

.content-wraper {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;

    // .prev {
    //     position: relative;
    //     overflow: hidden;
    //     height: 100vh;

    //     img {
    //         background-size: cover;
    //         position: relative;
    //         width: 100%;
    //     }

    //     h4 {
    //         position: absolute;
    //         top: 45vh;
    //         left: 17vw;
    //         width: auto;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         color: rgb(0, 0, 0);
    //         font-size: large;
    //     }
    // }
}