
<div class="myNavbar navbar fixed-top">
    <div class="nav-flex">
       <div class="flex-start">
         <a routerLink="/"><i class="fa-solid fa-circle-h"></i></a>
       </div>
       <div class="flex-center">
        <a routerLink="/"><h4>Freesoul</h4></a>
       </div>
       <div class="flex-end">
        <ul class="nav justify-content-end">
            <li class="nav-item" >
              <a class="nav-link" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
       </div>
    </div>
</div>